html {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px !important;
}

.container-fluid {
  margin: 0px 479px;
  padding: 0px;
}

/* NAVBAR */
.navbar {
  background-color: #ffffff;
  border-color: #cccccc;
  text-align: center;
}

.navbar-header {
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #ffffff;
  padding: 20px 15px;
}

.navbar-brand {
  color: #ffffff !important;
  font-size: 2em;
  font-weight: bold;
}

.navbar-nav {
  float: right;
  height: auto;
  margin-top: 20px;
}

/* BODY */
.mbody {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mbody .row {
  width: 100%;
}

.col-sm-8 {
  border: 1px solid #dddddd;
  padding: 20px 30px;
  width: 67.5%;
}

.col-sm-8 h1 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
}

.col-sm-8 hr {
  border: 1px solid #cccccc;
}

.col-sm-8 img {
  margin: 10px;
  float: left;
}

.col-sm-8 p {
  line-height: 1.5;
}

.sidebar {
  width: 28%;
  float: right;
  padding-right: 0px;
}

.panel-heading {
  color: #4aaaa5 !important;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/* FOOTER */
.foot {
  border-top: 5px solid #4aaaa5;
  background-color: #666666;
  text-align: center;
  padding: 20px 0px;
  position: absolute;
  bottom: 0px;
  width: 962px;
}

/* width < 992px, sm & xs*/
@media only screen and (max-width:991px) {
  .col-lg-8 {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
}
